#root {
  max-width: 1280px;
  margin: 0;
  padding: 4px;
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: medium;
}

body {
  height: 100vh;
  width: 100vw;
}

main {
  display: grid;
  grid-template-columns: 100%;
  margin: 0 auto;
}

h1 {
  font-size: 2rem;
}

.small-box {
  display: grid;
  column-gap: 0.5rem;
  grid-template-columns: repeat( 6, 1fr );
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas: 
  'image image category category dateadded dateadded'
  'image image title title title votes'
  'image image title title title votes'
  'image image title title title comments'
  'image image button button button button';
  width: min(80vw, 80vh);
  height: 8rem;
  padding:0.2rem;
  margin:0.5rem;
  margin-left:0;
  font-size:0.5rem;
  text-align: left;
  border:0.6vw solid firebrick;
}

.small-box-category {
  grid-area: category;
  font-size: 120%;
  text-align: left;
  padding:0;
}

.small-box-dateadded {
  grid-area: dateadded;
  font-size: 120%;
  text-align: right;
  padding:0;
}

.small-box-title {
  grid-area: title;
  text-align: justify;
  font-size: 150%;
  width: 100%;
  padding: 0;
  margin: 0.5rem;
}

.small-box-image {
  grid-area: image;
  width: 6rem; 
  height: 6.5rem;
  padding: 0;
  margin: 0;
}

.small-box-text {
  grid-area: text;
  font-size: 120%;
}

.small-box-votes {
  grid-area: votes;
  text-align: right;
  font-size: 100%;
}

.small-box-comments {
  grid-area: comments;
  text-align:right;
  font-size: 100%;
}

.header {
  border-bottom:firebrick;
  border-bottom-style: solid;
  padding: 0;
  margin-bottom: 2rem;
}