#root {
  max-width: 1280px;
  margin: 0;
  padding: 1px;
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: medium;
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
}

main {
  display: grid;
  grid-template-columns: 100%;
  margin: 0 auto;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
  text-align: left;
  padding: 0.2rem;
}

button {
  background-color:lightcoral;
  width: 10vh;
  text-wrap:wrap;
}

.back-button {
  position:absolute;
  justify-self: center;
  height: 5vh;
  bottom:0.2rem;
}

.small-box {
  display: grid;
  column-gap: 0.5rem;
  grid-template-columns: repeat( 5, 1fr );
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas: 
  'category category category dateadded dateadded'
  'image image title title votes'
  'image image title title comments'
  'image image button button button';
  width: 80vw;
  height: 18vh;
  padding:0.2rem;
  margin:0.5rem;
  margin-left:0;
  font-size:0.5rem;
  text-align: left;
  border:0.6vw solid firebrick;
  border-radius: 0.8rem;
}

.small-box-button {
  padding:0;
}

.small-box-category {
  grid-area: category;
  font-size: 120%;
  text-align: left;
  padding:0;
}

.small-box-dateadded {
  grid-area: dateadded;
  font-size: 120%;
  text-align: right;
  padding:0;
}

.small-box-title {
  grid-area: title;
  text-align: left;
  font-size: 140%;
  height:7vh;
  width: 100%;
  padding: 0.2rem;
  margin: 0.2rem;
  overflow:scroll;
}

.small-box-italic {
  text-align: left;
  font-size: 100%;
  font-style: italic;
  height: 4vh;
  width: 100%;
  padding: 0.4rem;
  margin: 0;
  border-top: 0.1rem;
  border-color: firebrick;
  border-style: solid;
  border-left: none;
  border-right: none;
  border-bottom: 0.1rem;
  border-bottom-style: dashed;
  border-bottom-color: firebrick;

}

.small-box-image {
  grid-area: image;
  width: 20vw; 
  height: 10vh;
  padding: 0;
  margin-left: 1rem;
}

.small-box-text {
  grid-area: text;
  text-align: left;
  font-size: 120%;
  padding: 0;
}

.small-box-votes {
  grid-area: votes;
  text-align: right;
  font-size: 100%;
}

.small-box-comments {
  grid-area: comments;
  text-align:right;
  font-size: 100%;
}

.header {
  border-bottom:firebrick;
  border-bottom-style: solid;
  padding: 0;
  margin-bottom: 2rem;
}

.error {
  margin-top: 6rem;
  color:firebrick;
  font-size: 200%;
}

.large-box {
  display: grid;
  column-gap: 0.5rem;
  grid-template-columns: repeat( 3, 1fr );
  grid-template-rows: repeat(6, 1fr);
  grid-template-areas: 
  'category dateadded dateadded'
  'image image title'
  'text text text'
  'votes comments comments'
  'votebuttons commentbuttons commentbuttons';
  width: min(92vw, 92vh);
  height: 65vh;
  padding:0.2rem;
  margin:0.5rem;
  margin-left:0;
  font-size:0.8rem;
  border:0.6vw solid firebrick;
  border-radius: 1rem;
}

.large-box-category {
  grid-area: category;
  font-size: 120%;
  text-align: left;
  padding:0;
  margin-top: 0.5rem;
  margin-bottom: 0.2rem;
  height: 0.5rem;
}

.large-box-dateadded {
  grid-area: dateadded;
  font-size: 120%;
  text-align: right;
  padding:0;
  margin-top: 0.5rem;
  margin-bottom: 0.2rem;
  height: 0.5rem;
}

.large-box-title {
  grid-area: title;
  position:relative;
  text-align: left;
  font-size: 140%;
  width: 100%;
  padding: 0;
  margin-top: 1rem;
}

.large-box-image {
  grid-area: image;
  width: 40vw; 
  height: 45vw;
  padding: 0;
  margin: 1rem;
  justify-self:center;
}

.large-box-text {
  grid-area: text;
  font-size: 120%;
  text-align: left;
  padding: 0.6rem;
  height: 20vh;
  overflow:scroll;
}

.large-box-votes {
  grid-area: votes;
  text-align: left;
  font-size: 100%;
}

.large-box-comments {
  grid-area: comments;
  text-align:right;
  font-size: 100%;
}

.large-box-vote-buttons {
  grid-area: votebuttons;
  text-align: left;
  font-size: 80%;
}

.large-box-comment-buttons {
  grid-area: commentbuttons;
  text-align: right;
  font-size: 80%;
}